start_kit/download_*.log
start_kit/missing.txt
start_kit/raw_videos/
start_kit/videos/
start_kit/test_features.npy
start_kit/test_labels.npy
start_kit/train_features.npy
start_kit/train_labels.npy
start_kit/val_features.npy
start_kit/val_labels.npy
start_kit/all_features/
start_kit/all_labels/
start_kit/splitted_data/test_data_old/
start_kit/splitted_data/train_data_old/
start_kit/splitted_data/val_data_old/
start_kit/splitted_data/temp/
start_kit/features_labels/
start_kit/chaos_data/
start_kit/organized_data/
start_kit/stratified_data/
start_kit/raw_videos_mp4/

*/__pycache__
code/I3D/archived/
*.pt

*.zip
